In [1]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
cursor.close()
print('db working')

db working

In [5]:
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
cursor.execute('''create table playerdetails
                (jerseynum int primary key not null,
                name text not null,
                age int not null,
                country char(15) not null,
                totalGA int not null);''')
cursor.close()

In [10]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
cursor.execute("INSERT INTO playerdetails VALUES(10, 'messi', 36, 'argentina', 1036)");
cursor.execute("INSERT INTO playerdetails VALUES(7, 'ronaldo', 38, 'portugal', 900)");
cursor.execute("INSERT INTO playerdetails VALUES(30, 'neymar', 30, 'brazil', 600)");
cursor.execute("INSERT INTO playerdetails VALUES(17, 'mbappe', 23, 'france', 200)");
conn.commit()
cursor.close()

In [12]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
cursor.execute("drop table stats")

OperationalError: no such table: stats

In [14]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
for i in cursor.execute("select jerseynum, name, age, country, totalGA from playerdetails"):
    print("jm:",i[0],"\n",
         "name:",i[1],"\n",
         "age:",i[2],"\n",
         "country:",i[3],"\n",
         "totalGA:",i[4],"\n")
conn.commit()
conn.close()

jm: 10
 name: messi
 age: 36
 country: argentina
 totalGA: 1036

jm: 7
 name: ronaldo
 age: 38
 country: portugal
 totalGA: 900

jm: 30
 name: neymar
 age: 30
 country: brazil
 totalGA: 600

jm: 17
 name: mbappe
 age: 23
 country: france
 totalGA: 200

In [21]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\cricket.db")
cursor=conn.cursor()
cursor.executescript('''
create table indianteam(
jm integer not null,
playername text,
runs int,
primary key(jm)
);

create table clubdetails(
name text,
age integer,
club char,
jm integer,
foreign key(jm) references indianteam(jm)
primary key(name));


insert into indianteam(jm,playername,runs)values
(18,"kohli",100),
(45,"rohit",99),
(17,"pant",0),
(99,"bumrah",0);


insert into clubdetails(name,age,club,jm)values
("rohit",35,"mi",45),
("bumrah",32,"mi",99),
("kohli",35,"rcb",18),
("pant",25,"dc",17);
''')
conn.commit()
conn.close()

OperationalError: table indianteam already exists

In [22]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\cricket.db")
cursor=conn.cursor()
cursor.executescript('''



insert into indianteam(jm,playername,runs)values
(18,"kohli",100),
(45,"rohit",99),
(17,"pant",0),
(99,"bumrah",0);


insert into clubdetails(name,age,club,jm)values
("rohit",35,"mi",45),
("bumrah",32,"mi",99),
("kohli",35,"rcb",18),
("pant",25,"dc",17);
''')
conn.commit()
conn.close()

In [26]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
cursor.execute("SELECT * FROM playerdetails")
items=cursor.fetchall()
for i in items:
    print(i[1],i)
conn.commit()
conn.close()

messi (10, 'messi', 36, 'argentina', 1036)
ronaldo (7, 'ronaldo', 38, 'portugal', 900)
neymar (30, 'neymar', 30, 'brazil', 600)
mbappe (17, 'mbappe', 23, 'france', 200)

In [ ]:
import csv
import sqlite3
fin=open('F:\example.csv','r')
dr=csv.DictReader(fin)
student_info=[(i['NAME'],i['DEGREE'])for i in dr]
print(student_info)
sqliteconnection=sqlite3.connect('F:\\aks.sqlite')
cursor=sqliteconnection.cursor()
cursor.execute('create table example2(name varchar(10),degree char);')
cursor.executemany("insert into example2(name,degree)VALUES(?,?);",student_info)
cursor.execute('SELECT * from example2;')
result=cursor.fetchall()
print(result)
sqliteconnection.commit()
cursor.close()

In [5]:
import sqlite3
conn=sqlite3.connect("D:\\py\\db\\football.db")
cursor=conn.cursor()
sql='''select * from indianteam 
inner join clubdetails on
indianteam.jm=clubdetails.jm;''' 
cursor.execute(sql)

result = cursor.fetchall() 
for row in result:
    print(row)
conn.close()

OperationalError: no such table: indianteam

In [2]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner()

def ordinary():
    print("I am ordinary")
make_pretty(ordinary)

I got decorated
I am ordinary